/.DS_Store
/.htaccess
/.idea
/README.md
/app
/artisan
/bootstrap
/cgi-bin
/composer.json
/composer.lock
/config
/database
/docker
/error_log
/index.php
/package.json
/phpunit.xml
/public
/resources
/routes
/sail
/storage
/stubs
/tests
/vendor
/vite.config.js